header {
	background-color: pink;
	padding: 10px;
	text-align: center;
	p {
		margin-bottom: 20px;
		font-weight: bold;
		font-size: 2rem;
	}
	h2 {
		font-weight: normal;
		font-size: 1.2rem;
	}
	input {
		margin-bottom: 30px;
	}
}
